<!DOCTYPE html>
<html>
<head>
  <title>Romans Depot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div id="banner">
			<%= link_to @page_title || "Books-App", store_url %>
	</div>
	<div id="columns">
		<div id="side"> 
			<ul>
				<li><%= link_to 'Books-App', store_url %></li>
				<li><%= link_to 'Products', products_url %></li>
			</ul>
			
			<div id="cart">
					
			        <%= 
			        	#da in backend nicht verfügbar: if @cart!
			        	render @cart if @cart
			        %>
			</div>
			
			
		</div>
		<div id="main"> <%= yield %>
    </div>
  </div>

</body>
</html>
